.create-box {
    width: 100%;
}

.create-box__forms {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.create-box__forms > input {
    width: 80%;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: .5rem;
}

.create-box__forms > input:focus {
    outline: none;
}

.create-box__forms > button {
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    position: absolute;
    right: 5%;
    bottom: 50%;
    transform: translateY(50%);
}

.create-box__forms > button:hover {
    cursor: pointer;
}