li {
    list-style: none;
}

.show-list {
    margin: 1rem;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.show-list__items {
    width: 80%;
    list-style: decimal;
    font-size: 1.5rem;
}

.show-list__items:hover {
    cursor: pointer;
}

.show-list__imagebox {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.show-list__active {
    text-decoration: line-through;
    color: gray;
}

.show-list__imagebox > img {
    width: 30px;
}

.show-list__imagebox > img:hover {
    cursor: pointer;
}